
h1
{
	color: red; 
	font-size: 40px;
}
.body_background {
background-image: url("bg1.jpg");
background-size: cover;
background-position: center;
}

#myCanvas{
border: 10px black solid;

}

#clear{
	height: 35px;
	width: 100px;
	font-size: medium;
	background-color: aqua;
}

#span_1{
	float: left;
	margin-left: 300px;
	}



	